---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact - Synax">
  <section
    id="features-12"
    class="shape--bg shape--white-500 pt-150 pb-100 features-section division"
  >
    <div class="container">
      <div class="row d-flex align-items-center">
        <!-- TEXT BLOCK -->
        <div class="col-md-5">
          <div class="txt-block left-column wow fadeInRight">
            <!-- Section ID -->

            <!-- Title -->
            <h2 class="s-46 w-700">Get in Touch</h2>

            <!-- Text -->
            <p>
				We’re here to assist you with any questions, inquiries, or support. Reach out to us today!
            </p>

       
          </div>
        </div>
        <!-- END TEXT BLOCK -->

        <!-- FEATURES-12 WRAPPER -->
        <div class="col-md-7">
          <div class="fbox-12-wrapper wow fadeInLeft">
            <div class="row">
              <div class="col-md-6">
                <!-- FEATURE BOX #1 -->
                <div
                  id="fb-12-1"
                  class="fbox-12 bg--white-100 block-shadow r-12 mb-30"
                >
                  <!-- Icon -->
				
                  <div class="fbox-ico ico-50" >
					
                    <div class="shape-ico color--theme">
                      <!-- Vector Icon -->
					  <a
					  aria-label=" WhatsApp Message"
					  target="_blank"
					  href="https://wa.me/9893844539"
					>
                      <span class="flaticon-whatsapp"></span>
					</a>
                      <!-- Shape -->
                    </div>
                  </div>
                  <!-- End Icon -->

                  <!-- Text -->
                  <div class="fbox-txt">
                    <h5 class="s-19 w-700"> <a
						aria-label=" WhatsApp Message"
						target="_blank"
						href="https://wa.me/9893844539"
					  >
					  Whatsapp</a></h5>
                    <p>Drop us a message on WhatsApp</p>
                  </div>
                </div>

                <!-- FEATURE BOX #2 -->
                <div
                  id="fb-12-2"
                  class="fbox-12 bg--white-100 block-shadow r-12"
                >
                  <!-- Icon -->
                  <div class="fbox-ico ico-50">
                    <div class="shape-ico color--theme">
                      <!-- Vector Icon -->
                      <span class="flaticon-home"></span>

                      <!-- Shape -->
                      <svg
                        viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
                          transform="translate(100 100)"></path>
                      </svg>
                    </div>
                  </div>

                  <!-- End Icon -->
				  <div class="fbox-txt">
				  <h5 class="s-19 w-700">Headquarter</h5>
				  <p>
					  69, Ratan Nagar, Manavlok Society, Gupteshwar, Jabalpur (MP)
				  </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <!-- FEATURE BOX #3 -->
                <div
                  id="fb-12-3"
                  class="fbox-12 bg--white-100 block-shadow r-12 mb-30"
                >
                  <!-- Icon -->
                  <div class="fbox-ico ico-50">
                    <div class="shape-ico color--theme">
                      <!-- Vector Icon -->
                      <span class="flaticon-tech-support"></span>

                      <!-- Shape -->
                      <svg
                        viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
                          transform="translate(100 100)"></path>
                      </svg>
                    </div>
                  </div>
                  <!-- End Icon -->

                  <!-- Text -->
                  <div class="fbox-txt">
                    <h5 class="s-19 w-700">Phone</h5>
                    <p>
                      <a target="_blank" href="tel:+919893844539"
                        >+91-989-384-4539</a
                      >
                      <br />
                      <a target="_blank" href="tel:+919893370027"
                        >+91-989-337-0027</a>
                    </p>
                  </div>
                </div>

                <!-- FEATURE BOX #4 -->
                <div
                  id="fb-12-4"
                  class="fbox-12 bg--white-100 block-shadow r-12"
                >
                  <!-- Icon -->
                  <div class="fbox-ico ico-50">
                    <div class="shape-ico color--theme">
                      <!-- Vector Icon -->
                      <span class="flaticon-email"></span>

                      <!-- Shape -->
                      <svg
                        viewBox="0 0 200 200"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z"
                          transform="translate(100 100)"></path>
                      </svg>
                    </div>
                  </div>
                  <!-- End Icon -->

                  <!-- Text -->
                
                   <!-- Text -->
                  <div class="fbox-txt">
                    <h5 class="s-19 w-700">Email</h5>
                    <p>
                      <a target="_blank" href="mailto:info@Synax.ai"
                        >info@synax.ai</a>
                    </p>
              
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End row -->
        </div>
        <!-- END FEATURES-12 WRAPPER -->
      </div>
      <!-- End row -->
    </div>
    <!-- End container -->
  </section>


  <hr class="divider" />
</Layout>
