<footer id="footer-3" class="pt-100 footer content-section-bg">
  <div class="container">
    <!-- FOOTER CONTENT -->
    <div class="row">
      <!-- FOOTER LOGO -->
      <div class="col-xl-3">
        <div class="footer-info">
          <div>
            <img
              class="footer-logo"
              height="30"
              width="30"
              src="/images/logo/icons/Asset_21_4x.png"
              alt="footer-logo"
            />
            <span class="text-black"> Synax.AI</span>
          </div>
          <img
            class="img-fluid pt-4"
            src="/images/microsoft/MS_Startups_Celebration_Badge_Dark.png"
            alt="video-preview"
            style="max-width:16rem;"
          />
        </div>
      </div>
      <!-- FOOTER LINKS -->
      <div class="col-sm-4 col-md-4 col-xl-2">
        <div class="footer-links fl-1">
          <!-- Title -->
          <h6 class="s-17 w-700">Company & Legal</h6>

          <!-- Links -->
          <ul class="foo-links clearfix">
            <!-- <li>
                            <p><a href="/about">About Us</a></p>
                        </li> -->

            <li>
              <p><a href="/contacts">Contact Us</a></p>
            </li>
          </ul>
        </div>
      </div>
      <!-- END FOOTER LINKS -->

      <!-- FOOTER LINKS -->
      <div class="col-sm-4 col-md-4 col-xl-2">
        <div class="footer-links fl-3">
          <h6 class="s-17 w-700">Legal</h6>

          <ul class="foo-links clearfix">
            <li>
              <p><a href="/terms">Terms & Conditions</a></p>
            </li>
            <li>
              <p><a href="/privacy">Privacy Policy</a></p>
            </li>
          </ul>
        </div>
      </div>
      <!-- END FOOTER LINKS -->
      <!-- FOOTER LINKS -->
      <!-- <div class="col-sm-4 col-md-3 col-xl-4">
    <div class="footer-links fl-2">

        <h6 class="s-17 w-700">Connect with Shagun</h6>

        <ul class="foo-links clearfix">
            <li>
                <p><a href="/services">Services</a></p>
            </li>
            <li>
                <p><a href="/blog">Our Blog</a></p>
            </li>
        </ul>
    </div>
</div>  -->
      <!-- END FOOTER LINKS -->
      <!-- FOOTER LINKS -->
      <div class="col-sm-4 col-md-3 col-xl-2">
        <div class="footer-links fl-4">
          <!-- Title -->
          <h6 class="s-17 w-700">Connect with Synax</h6>
          <!-- Social Links -->
          <ul class="footer-socials ico-25 text-center clearfix">
            <li>
              <a href="https://twitter.com/Synax_ai" target="_blank"
                ><i class="fa-brands fa-twitter" style="color: #0171e3;"></i></a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/synax-ai"
                target="_blank"
                ><i class="fa-brands fa-linkedin" style="color: #0965c2;"
                ></i></a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/synax.ai/" target="_blank"
                ><i class="fa-brands fa-instagram" style="color: #d116df;"
                ></i></a
              >
            </li>
          </ul>
          <!-- Mail Link -->
          <p class="footer-mail-link ico-25">
            <a target="_blank" href="mailto:info@synax.ai">info@synax.ai</a>
          </p>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 col-xl-2">
        <div class="footer-links fl-4">
          <!-- Title -->
          <h6 class="s-17 w-700">Follow Shagun</h6>
          <ul class="footer-socials ico-25 text-center clearfix">
            <li>
              <a href="https://x.com/shagun_synax" target="_blank"
                ><i class="fa-brands fa-twitter" style="color: #0171e3;"></i></a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/company/synax-ai"
                target="_blank"
                ><i class="fa-brands fa-linkedin" style="color: #0965c2;"
                ></i></a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/shagun_synax/" target="_blank"
                ><i class="fa-brands fa-instagram" style="color: #d116df;"
                ></i></a
              >
            </li>
            <li>
                <a href="https://www.facebook.com/profile.php?id=61568789802655¸" target="_blank"
                  ><i class="fa-brands fa-facebook" style="color: #0965c2;"
                  ></i></a
                >
              </li>
          </ul>
          <!-- Mail Link -->
       

          <!-- Social Links -->
        </div>
      </div>
      <!-- END FOOTER LINKS -->
    </div>
    <!-- END FOOTER CONTENT -->

    <hr />
    <!-- FOOTER DIVIDER LINE -->

    <div class="bottom-footer">
      <div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">
        <!-- FOOTER COPYRIGHT -->
        <div class="col">
          <div class="footer-copyright">
            <p class="p-sm">
              © 2023 <b> Synax AI & Research Pvt. Ltd.</b>
              <span>All Rights Reserved</span>
            </p>
          </div>
        </div>

        <!-- FOOTER SECONDARY LINK -->
        <div class="col">
          <div class="bottom-secondary-link ico-15 text-end">
            <p class="p-sm">
              <a target="_blank" href="https://storyset.com">
                Illustrations by Storyset</a
              >
            </p>
          </div>
        </div>
      </div>
      <!-- End row -->
    </div>

    <!-- END BOTTOM FOOTER -->
  </div>
  <!-- End container -->
</footer>
